<li class="liste-vehicule" id="vehiculeid-{{vehicule.id}}">
	<div class="cartouche-vehicule">
		{# <div class="ordre-depart">
			<p class="ordre-depart-vehicule">{{ vehicule.ordreDepart }}</p>
		</div> #}
		<div class="nom-vehicule">
			<p class="ordre-depart-vehicule-name" >{{ vehicule.name }}</p> 			
		</div>
		<div class="infos-vehicule">
				<p>{{vehicule.modele}}</p>
				<p>{{vehicule.immatriculation}}</p>
				<p>{{vehicule.annee|date("d/m/Y")}}</p>
		</div>
		<div class="entity-buttons-container">
			<div class="edit-button">
				<a href="#">
					{% image '@SamuGestionVMBundle/Resources/public/images/Data-Edit-24.png' %}
						<img src="{{ asset_url }}" alt="Editer">
					{% endimage %}
				</a>
			</div>
			<div class="delete-button">
				<a href="#">
					{% image '@SamuGestionVMBundle/Resources/public/images/Delete-24.png' %}
						<img src="{{ asset_url }}" alt="Supprimer">
					{% endimage %}
				</a>
			</div>
		</div>
	</div>
</li>