{# @Variables :
	- Vehicule/Materiel : entity
	- string : type
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Détail d'un {{ type }} - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}
	<div>
		<h1>Détail de {{ entity.name }}</h1>
		<li>{{ entity.name }}</li>
		<li>{{ entity.annee|date("m/d/Y") }}</li>

		{% if entity.operationnel %}
			<li>En service</li>
		{% else %}
			<li>Hors service</li>
		{% endif %}

		<a href="{{ path('samu_gestion_vm_entitiesEdit', {'type' : type, 'id' : entity.id}) }}">Modifier</a>
	</div>

	<div>
		<h1>Historique des problèmes :</h1>

		<div id="historique">

			{{ render(controller('SamuGestionVMBundle:EntitiesVM:historiqueView', {'id' : entity.id, 'type' : type})) }}
			
		</div>
	</div>
{% endblock %}

