{% extends "SamuUserBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"  href="{{ asset('bundles/samuuser/css/login.css') }}" type="text/css" media="all">
{% endblock %}
	{% trans_default_domain 'FOSUserBundle' %}
	{% block fos_user_content %}
		
			<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
			    {{ form_widget(form) }}
			    <div>
			        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
			    </div>
			</form>
		</div>
	{% endblock fos_user_content %}