{# src/Samu/UserBundle/Resources/views/Security/layout.html.twig #}
{% extends "SamuUserBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"  href="{{ asset('bundles/samuuser/css/login.css') }}" type="text/css" media="all">
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
		{% block fos_user_content %}
				<div id="login_header">
					<a href="http://samu76b.ch-havre.fr"><- Retour vers le site "SAMU Le Havre"</a>
				</div>
				<div id="login_form">

					
						{% if error %}
							<div class="msg_error">
			    				{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}	
					
					
					<form action="{{ path("fos_user_security_check") }}" method="post">
		    			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			    	
						<label for="username">{{ 'security.login.username'|trans }}</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			    	
						<label for="password">{{ 'security.login.password'|trans }}</label>
						<input type="password" id="password" name="_password" required="required" />
			    	
						<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
						<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
					
						<div class="btn_login_submit">
							<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
						</div>
					</form>

					<div style='text-align: center'>
						<a id="passwordForget" href={{ path('fos_user_resetting_request') }}>Vous avez oublié votre mot de passe ?</a>
					</div>

				</div>
				
	{% endblock fos_user_content %}
