{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{#Insérer un <link rel="stylesheet" href="le css de l'appli GVM"> en attendant, j'utilise le Bootstrap Twitter :#}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
{% endblock %}

{% block title %}
	Gestion Véhicules et Matériel - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div id="header" class="jumbotron">
			<h1>Gestion Véhicules et Matériel - 76B</h1>
			<p>Projet en cours de développement.</p>	
		</div>

		<div class="row">
			<div id="menu" class"col-md3">
				<h3>Gestion des problèmes :</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="{{ path('samu_gestion_vm_index') }}">Accueil</a></li>
					<li><span>Signaler un nouveau problème</span></li>
					<li><a href="{{ path('samu_gestion_vm_problemeReport', { 'typepb': 'pbvehicule' }) }}">Véhicule</a>
					    <a href="{{ path('samu_gestion_vm_problemeReport', { 'typepb': 'pbmateriel' }) }}">Matériel</a></li>
					<li><a href="{{ path('samu_gestion_vm_entitiesIndex') }}"></a>Voir les historiques</li>
				</ul>			
			</div>
			<div id="content" class="col-md-9">
				{% block gvm_actionbody %}
					{# Bloc à hériter par les actions des controllers #}
				{% endblock %}			
			</div>	
		</div>

		<hr>

		<footer>
			<p>Ici le footer...</p>
		</footer>
	</div>

	{% block javascripts %}
		{# @BootStrap Twitter #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{% endblock %}
{% endblock %}