
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/samugestionvm/css/nav_style.css') }}" type="text/css" media="all"/>
{% endblock %}

<div id="nav">
	<div id="nav_home">
		<ul>
			<li class="nav_home">
				<a href="{{ path('samu_gestion_vm_index') }}"><img src="{{ asset('bundles/samugestionvm/images/home-32.png') }}" alt="Accueil"></a>
			</li>
		</ul>
	</div>
	<ul>
		<li>
			<a href="#">Ajouter un nouveau problème</a>
			<ul class="nav_add_jquery">
				<li><a href="{{ path('samu_gestion_vm_problemeAdd', { 'typePb': 'pbvehicule' }) }}">Sur un Véhicule</a></li>
				<li><a href="{{ path('samu_gestion_vm_problemeAdd', { 'typePb': 'pbmateriel' }) }}">Sur un Matériel</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav_report" >
		<li>
			<a href="#">Signaler un problème</a>
			<ul class ="nav_report_jquery">
				<li><a href="{{ path('samu_gestion_vm_problemeReport', { 'typePb': 'pbvehicule' }) }}">Signaler un problème Véhicule</a></li>
		    	<li><a href="{{ path('samu_gestion_vm_problemeReport', { 'typePb': 'pbmateriel' }) }}">Signaler un problème Matériel</a></li>
		    </ul>
		</li>	
	</ul>
	<ul class="nav_parc">
		<li>
			<a href="{{ path('samu_gestion_vm_entitiesIndex') }}">Gérer le parc</a>
		</li>
	</ul>
{% if is_granted('ROLE_STAFF') %}
	<div id="nav_validation">
		{{ render(controller('SamuGestionVMBundle:ProblemeVM:countNonValide')) }} 
	</div>
{% endif %}	
</div>