
{% block stylesheets %}
	{% stylesheets 'bundles/samugestionvm/css/nav_style.css' filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

<div id="nav">
	<div id="nav_home">
		<ul>
			<li class="nav_home">
				<a href="{{ path('samu_gestion_vm_index') }}">
					{% image '@SamuGestionVMBundle/Resources/public/images/home-32.png' %}
    					<img src="{{ asset_url }}" alt="Accueil" />
					{% endimage %}
				</a>
			</li>
		</ul>
	</div>
{% if is_granted('ROLE_STAFF') %}
	<ul>
		<li>
			<a href="#">Ajouter un nouveau problème</a>
			{#<ul class="nav_add_jquery">
				<li><a href="{{ path('samu_gestion_vm_problemeAdd', { 'typePb': 'pbvehicule' }) }}">Sur un Véhicule</a></li>
				<li><a href="{{ path('samu_gestion_vm_problemeAdd', { 'typePb': 'pbmateriel' }) }}">Sur un Matériel</a></li>
			</ul>#}
		</li>
	</ul>
{% endif %}

	<ul class="nav_report" >
		<li>
			<a href="#">Signaler un problème</a>
			{#<ul class ="nav_report_jquery">
				<li><a href="{{ path('samu_gestion_vm_problemeReport', { 'typePb': 'pbvehicule' }) }}">Signaler un problème Véhicule</a></li>
		    	<li><a href="{{ path('samu_gestion_vm_problemeReport', { 'typePb': 'pbmateriel' }) }}">Signaler un problème Matériel</a></li>
		    </ul>#}
		</li>	
	</ul>

{% if is_granted('ROLE_STAFF') %}
	<ul class="nav_parc">
		<li>
			<a href="{{ path('samu_gestion_vm_entitiesIndex') }}">Gérer le parc</a>
		</li>
	</ul>
{% endif %}

{% if is_granted('ROLE_STAFF') %}
	<div id="nav_validation">
		{{ render(controller('SamuGestionVMBundle:ProblemeVM:countNonValide')) }} 
	</div>
{% endif %}	
</div>