{# 
var : Object Commmentaire : com 
#}

<li>le {{ com.date|date('d/m/Y') }} par {{ com.author }}</li>
<li class="combody" id="combody{{ com.id }}">{{ com.content }}</li>
<li>{{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'edit'})) }} {{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'delete'})) }}</li>