{# @Variables : 
array : listPbVehicules
array : listPbMateriel
array : listVehicules
int   : nbVehicules
bool  : validation
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Tableau de bord - {{ parent() }}
{% endblock %}
{% block gvm_actionbody %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class='flashbag'>
			<p>{{ flashMessage }}</p>
		</div>	
	{% endfor %}
	<h1>Tableau de bord</h1>

	<div>
		<h2>Problèmes véhicules</h2>
		Nombre de problèmes : {{ listPbVehicules|length }}

	</div>
	{% if listPbVehicules %}
		
		{% for i in 1..listPbVehicules[listPbVehicules|length-1].vehicule.id %}
			{% set vehicule = true %}
			<div class="probleme_view">
				{% set isThereProbleme = false %}
				{% for probleme in listPbVehicules if probleme.vehicule.id == i %}
					{% set isThereProbleme = true %}
				{% endfor %}

				{% if isThereProbleme %}
					<div class="vehicule_name">
						<p>{{ listVehicules[i-1].name }}</p>
					</div>
				{% endif %}

				{% for probleme in listPbVehicules if probleme.vehicule.id == i %}
					{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
				{% endfor %}
			</div>
		{% endfor %}

	{% else %}
		<p>Aucun problème en cours sur les véhicules.</p>
	{% endif %}

	

	<div>
		<h2>Problèmes Matériels</h2>
		Nombre de problèmes : {{ listPbMateriel|length }}
			{% for probleme in listPbMateriel %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			{% endfor %}
	</div>

{% endblock %}