{# @Variables : 
array : listPbVehicules
array : listPbMateriel
array : listVehicules
int   : nbVehicules
bool  : validation
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Tableau de bord - {{ parent() }}
{% endblock %}
{% block gvm_actionbody %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class='flashbag'>
			<p>{{ flashMessage }}</p>
		</div>	
	{% endfor %}
	<h1>Tableau de bord</h1>

	<div>
		<h2>Problèmes véhicules</h2>
		<p>Nombre de problèmes : {{ listPbVehicules|length }}</p>

	</div>
	{% if listPbVehicules %}
		
		{% for i in 1..maxId %}
			{% set vehicule = true %}
			
				{% set isThereProbleme = false %}
				{% for probleme in listPbVehicules if probleme.vehicule.id == i %}
					{% set isThereProbleme = true %}
				{% endfor %}

				{% if isThereProbleme %}
					{% for vehicule in listVehicules if vehicule.id == i %}
						{% set nom = vehicule.name %}
					{% endfor %}
					<div class="vehicule_name" id="groupe-{{ nom }}">
						<p>{{ nom }}</p>
					</div>
				{% endif %}

				l'ID maximum est : {{ maxId }}
				les ID sont {% for id in ids %}{{ id }} ,{% endfor %}

				les véhicules sont {% for vehicule in listVehicules %}{{ vehicule.id }} ,{% endfor %}

				{% for probleme in listPbVehicules if probleme.vehicule.id == i %}
					{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
				{% endfor %}
		
		{% endfor %}

	{% else %}
		<p>Aucun problème en cours sur les véhicules.</p>
	{% endif %}

	

	{#<div>
		<h2>Problèmes Matériels</h2>
		Nombre de problèmes : {{ listPbMateriel|length }}
			{% for probleme in listPbMateriel %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			{% endfor %}
	</div>#}

{% endblock %}