{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/samugestionvm/css/nav_style.css') }}" type="text/css" media="all"/>
{% endblock %}

{% if decompte %}
	<div class="btn_validation">
		
				<a>
					{% image '@SamuGestionVMBundle/Resources/public/images/new-pb.png' %}
						<img src="{{ asset_url }}" alt="Problèmes en attente">
					{% endimage %}
				</a>
				
						<a href="{{ path('samu_gestion_vm_indexNonValide') }}">{{ decompte }} problème(s) à valider</a>
	{% else %}
		<ul>
			<li>
				<a>
					{% image '@SamuGestionVMBundle/Resources/public/images/no-new-pb.png' %}
						<img src="{{ asset_url }}" alt="Pas de problème en attente">
					{% endimage %}
				</a>
			</li>
			<li>	
				<div class="btn_validation_message">
					<p>Pas de problème en attente</p>
				</div>		
			</li>
		</ul>	
	</div>			
{% endif %}