{# @Variables : 
array : listPbVehicules
array : listPbMateriel
bool : validation
#}
{% block stylesheets %}
	{% stylesheets 'bundles/samugestionvm/css/probleme_view.css' filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class='flashbag'>
		<p>{{ flashMessage }}</p>
	</div>	
{% endfor %}

<div id="probleme_view_block">
	<div class="probleme_view_title">
		<div class='pvt_id'>
			{{ render(controller('SamuGestionVMBundle:ProblemeVM:isProblemNew', {'id' : probleme.id })) }} 
		</div>
		<div class='pvt_title'>
			<a href="{{ path('samu_gestion_vm_problemeView', {'id' : probleme.id }) }}">{{ probleme.title }}</a>
		</div>
		<div class='pvt_author'>
			Ajouté le {{ probleme.dateDebut|date('d/m/Y') }} par {{ probleme.author }}
		</div>
		<div class='pvt_validations'>
			{% if is_granted('ROLE_STAFF') and probleme.active %}

				<a href="{{ path('samu_gestion_vm_problemeClasser', {'id' : probleme.id }) }}">
					{% image '@SamuGestionVMBundle/Resources/public/images/Check-24.png' %}
						<img src="{{ asset_url }}" alt="Cloturer">
					{% endimage %}
				</a>

				<a href="{{ path('samu_gestion_vm_problemeEdit', { 'id' : probleme.id }) }}">
					{% image '@SamuGestionVMBundle/Resources/public/images/Data-Edit-24.png' %}
						<img src="{{ asset_url }}" alt="Editer">
					{% endimage %}
				</a>

				<a href="{{ path('samu_gestion_vm_problemeDelete', {'id' : probleme.id }) }}">
					{% image '@SamuGestionVMBundle/Resources/public/images/Delete-24.png' %}
						<img src="{{ asset_url }}" alt="Supprimer">
					{% endimage %}
				</a>
				
			{% endif %}
			{#{% if validation and is_granted('ROLE_STAFF') and probleme.staffValidated == 0 %}
				 - <a href="{{ path('samu_gestion_vm_problemeValidate', {'id' : probleme.id }) }}">Valider</a></li>
				{% endif %}#}
		</div>
		<div>

		</div>
	</div>		 
				
			
			<li>{{ probleme.title }} depuis {{ getDuree(probleme.dateDebut, probleme.dateFin) }}
			<li>{{probleme.content}}</li>
	
	
	
	{% if probleme.dateModif %}
		<li>Modifié le {{ probleme.datemodif|date('d/m/Y') }} par {{ probleme.author }}</li>
	{% endif %}
	{% if not probleme.active %}
		<li>Cloturé le {{ probleme.dateFin|date('d/m/Y')}}</li>
	{% endif %}

	<div class="coms"
		{% for com in probleme.commentaires %}
			<li>le {{ com.date|date('d/m/Y') }} par {{ com.author }}</li>
			<li>{{ com.content }}</li>
			<li>{{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'edit'})) }} {{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'delete'})) }}</li>
		{% endfor %}
	</div>

	{# Commentaire AJAX #}
	<div class="new-com" style="display:none">
		<label for="com">Commenter : </label>
		<input type="text" name="com" id="{{ probleme.id }}">
		<input type="submit" value="Envoyer">
	</div>

	{# Si JS n'est pas activé, on commente à l'ancienne #}
	<a href="{{ path('samu_gestion_vm_addCom', { 'id': probleme.id }) }}">Commenter</a>
	</br>
</div>