{# @Variables : 
array : listPbVehicules
array : listPbMateriel
bool : validation
#}

<li>#<a href="{{ path('samu_gestion_vm_problemeView', {'id' : probleme.id }) }}">{{ probleme.id }}</a></li> {{ render(controller('SamuGestionVMBundle:ProblemeVM:isProblemNew', {'id' : probleme.id })) }} {% if validation and is_granted('ROLE_STAFF') and probleme.staffValidated == 0 %} - <a href="{{ path('samu_gestion_vm_problemeValidate', {'id' : probleme.id }) }}">Valider</a></li>{% endif %}
<li>{{ probleme.vehicule.name }}</li>
<li>Ajouté le {{ probleme.dateDebut|date('d/m/Y') }} par {{ probleme.author }}</li>
<li>{{ probleme.title }}
<li>{{probleme.content}}</li>
{% if probleme.dateModif %}
	<li>Modifié le {{ probleme.datemodif|date('d/m/Y') }} par {{ probleme.author }}</li>
{% endif %}
{% if probleme.active %}
	<li>Cloturé le {{ probleme.dateFin|date('d/m/Y')}}</li>
{% endif %}
{% for com in probleme.commentaires %}
	<li>le {{ com.date|date('d/m/Y') }} par {{ com.author }}</li>
	<li>{{ com.content }}</li>
	<li>{{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'edit'})) }} {{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'delete'})) }}</li>
{% endfor %}
	<a href="{{ path('samu_gestion_vm_addCom', { 'id': probleme.id }) }}">Commenter</a>
	</br>