{# @Variables : 
array : listPbVehicules
array : listPbMateriel
bool : validation
#}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/samugestionvm/css/probleme_view.css') }}" type="text/css" media="all"/>
{% endblock %}

<div id="probleme_view_content">
	<div class="probleme_view_title">
		<div >
			{{ render(controller('SamuGestionVMBundle:ProblemeVM:isProblemNew', {'id' : probleme.id })) }} 
		</div>
		<div>
			<a href="{{ path('samu_gestion_vm_problemeView', {'id' : probleme.id }) }}">{{ probleme.title }}</a>
		</div>
		<div>
			Ajouté le {{ probleme.dateDebut|date('d/m/Y') }} par {{ probleme.author }}
		</div>
		<div>
			{% if is_granted('ROLE_STAFF') and probleme.active %}
					<a href="{{ path('samu_gestion_vm_problemeClasser', {'id' : probleme.id }) }}">Cloturer</a>
				
					<a href="{{ path('samu_gestion_vm_problemeEdit', {'id' : probleme.id }) }}">Editer</a>
				
					<a href="{{ path('samu_gestion_vm_problemeDelete', {'id' : probleme.id }) }}">Supprimer</a>
			{% endif %}
		</div>
		
				{#{% if validation and is_granted('ROLE_STAFF') and probleme.staffValidated == 0 %}
				 - <a href="{{ path('samu_gestion_vm_problemeValidate', {'id' : probleme.id }) }}">Valider</a></li>
				{% endif %}#}
				
			
			<li>{{ probleme.title }} depuis {{ getDuree(probleme.dateDebut, probleme.dateFin) }}
			<li>{{probleme.content}}</li>
	</div>
	
	
	{% if probleme.dateModif %}
		<li>Modifié le {{ probleme.datemodif|date('d/m/Y') }} par {{ probleme.author }}</li>
	{% endif %}
	{% if not probleme.active %}
		<li>Cloturé le {{ probleme.dateFin|date('d/m/Y')}}</li>
	{% endif %}
	{% for com in probleme.commentaires %}
		<li>le {{ com.date|date('d/m/Y') }} par {{ com.author }}</li>
		<li>{{ com.content }}</li>
		<li>{{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'edit'})) }} {{ render(controller('SamuGestionVMBundle:ProblemeCom:generateButton', {'id' : com.id, 'action' : 'delete'})) }}</li>
	{% endfor %}
		<a href="{{ path('samu_gestion_vm_addCom', { 'id': probleme.id }) }}">Commenter</a>
		</br>
</div>

